form{
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 var(--soft-shadow-rgba);

    width: 40ch;

    box-sizing: border-box;

    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    gap: 2rem;

    padding: 15px;
    border-radius: 7px;


}

.input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    gap: 1rem;

}

.interact {

    flex-grow: 1;
    box-sizing: border-box;
    
    border: var(--input-borders-hex) solid 1px;
    border-radius: 3px;

    
    padding: 5px;

    width: 100%;

    overflow-wrap: break-word;

}

.form-input {
    font-size: 15px;
    padding: 5px;
    padding-left: 7px;
}

label {
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 500;
}

.btn-success {
    color: var(--white);
    background-color: var(--submit-btn-rgb);
    font-size: x-large;
    border: none;
    padding: 10px 0 10px 0;
}

.password {
    padding-right: 35%;
    z-index: 2;
}

.password-div {
    position: relative;
}

.show-password {
    background-color: var(--white);
    color: var(--link-blue-rgb);

    border: solid white 1px;
    border-left: solid var(--input-borders-hex) 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    position: absolute;
    right: 0.3%;
    top: 22px;

    height: 29px;
    z-index: 1;
} /* sort out on clicked */

hr {
    margin-bottom: -0.1rem;
}