body{
    background-color: aliceblue;
}

a:link {
    text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
}

a:active {
text-decoration: none;
}

.dropdown-item:hover{
    color: white;
    transition: 0.5s;
    background-color: #087cfc;
}

.main_content{
    background-color: #e1effc;
    width: 90%; 
    height: 100%; 
    margin-left: 5%; 
    margin-top: 3%;
    padding: 50px;
    border-radius: 7px;
    min-width: min-content;
}

#nav_logout_btn:hover{
    background-color: #e03444;
    transition: 0.5s;
    color: white;
}

#nav_account{
    list-style-type: none;
    position: absolute;
    right: 0;
    margin-right: 2%;
    align-self: flex-end;
    flex-shrink: 10;
}

.rounded-circle{
    height: 30px;
    width: 30px;
}

input:hover{
    background: aliceblue;
    transition: 0.5s;
}



#nav_bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

@media (max-width: 600px) {
    #nav_bar{
        flex-direction: row;
        align-items: center;
    }

    #nav_account{
        align-self: flex-end;
        flex-shrink: 5;    
    }

    #navbar_username{
        visibility: hidden;
    }
    
  }

@media (max-width: 285px) {
body{
    visibility: visible;
    }
}