nav {

    background-color: white;

    height: 10%; /* 10% of screen height */

    display: flex;
    flex-wrap: wrap; /* for smaller screens allow wrapping */
    gap: 1%; /* Gap between each flex item */
    
    border-bottom: 2px solid var(--alice-blue-hsl-borders);

    position: relative; /* For media query */
    max-width: 100%;
}

/* taking awa the actual link design */
nav a {
    text-decoration: none;
    color: black;
    padding: 11px;
}

/* visual hovering indicator */
nav a:hover{
    background-color: var(--alice-blue-hsl-hover);
    transition: 0.5s;
}

.nav-icon {
    max-width: 25px;
    max-height: 20px;
}

#siteid {
    height: 19px;
}

/* centered container a flex box to allow wrapping */
.center {
    display: flex;
    flex-wrap: wrap;
}


/* padding looked a bit weird in the site id, fixing it */


/* media queries just to fine tune the position of the centered items */
@media (min-width: 675px) {
    .center {
        margin-left: 42%;
        position: absolute;
    }
}

@media (580px < width < 674px) {
    .center {
        margin-left: 40%;
        position: absolute;
    }
}