{%extends "Main/base.html"%}

{% block css %}
    <link type="text/css" rel="stylesheet" href="/static/registration/forms.css">
    <link type="text/css" rel="stylesheet" href="/static/registration/register.css">
{% endblock %}

{%block title%} Login {%endblock%}

{%block content%}
    
    {%if user.is_authenticated %}
        <div class="html_redirect_home">
            <a href="/">Nice try ;), go to home</a>
        </div>
    {%else%}
        <div class="small_container">
            
            <form method="post" action="{% url 'login' %}">
                <div class="flex-group">
                    <h1>Login</h1>
                    <hr>
                </div>
                {% csrf_token %}

                <div class="input-group flex-group">
                    <div>
                        <label for="{{form.username.id}}">{{form.username.label}}</label>
                        {{form.username}} <!-- Is actually an email acting as a username; see forms.py -->
                    </div>
                    <div>
                        <label for="{{form.password.id}}">{{form.password.label}}</label>
                        {{form.password}}
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>
    {%endif%}
{%endblock%}