<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link type="text/css" rel="stylesheet" href="/static/Maincss/base.css">
  <link type="text/css" rel="stylesheet" href="/static/Maincss/topnavbar.css">

  <title>TaskTrackr |{% block title %} {% endblock %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <link rel="icon" href="/media/icons/Checkmark.png">
</head>

<body>
    
  <nav class="navbar">

    <ul>
      
      <li>
        <a class="primary-tab" id="siteid" href="{% url 'home' %}">
          TaskTrackr &nbsp;
          <img class="nav-icon" src="/media/icons/Checkmark.png">
        </a>
      </li>
      
      {% if not user.is_authenticated %}
        <li><a class="primary-tab" href="{% url 'login' %}">Login</a></li>
        <li><a class="primary-tab" href="{% url 'register' %}">Register</a></li>
      {% endif %}

    </ul>

  </nav>

    <script src="/static/Mainjs/base.js"></script>
</body>