<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--what this do-->

  <link type="text/css" rel="stylesheet" href="/static/Maincss/base.css">
  <link type="text/css" rel="stylesheet" href="/static/Maincss/topnavbar.css">

  {% block css %}
  
  {% endblock %}

  <title>TaskTrackr |{% block title %} {% endblock %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

  <link rel="icon" href="/media/icons/Checkmark.png">
</head>

<body>
    
  <nav class="navbar"> <!-- Simply just a container, to make selection better -->

      
        <a class="primary-tab" id="siteid" href="{% url 'home' %}">
          <img class="nav-icon" src="/media/icons/Checkmark.png">
        </a>

          
        <!-- <a id="siteid mobile"><img class="nav-icon mobile" src="/media/icons/Checkmark.png"></a> -->
      
      
      {% if not user.is_authenticated %}
          <div class="center">
            <a class="primary-tab" href="{% url 'login' %}">Login</a>
            <a class="primary-tab" href="{% url 'register' %}">Register</a>
          </div>
      {% endif %}


  </nav>

  <main>
    {%block content %}

    {% endblock %}
  </main>

  <script src="/static/Mainjs/Buttons/Submit_btn.js"></script>

  {% block javascript %}
    
  {% endblock %}
</body>